<p>vuelos-component works!</p>
<ul class="nav">
	<li class="nav-item"><a class="nav-link" [routerLink]="['./main']">Main</a></li>
	<li class="nav-item"><a class="nav-link" [routerLink]="['./mas-info']">Más Info</a></li>
	<li class="nav-item"><a class="nav-link" [routerLink]="['./', 5]">Vuelo 5</a></li>
</ul>

<router-outlet></router-outlet>