<form 
[formGroup]="fg"
(ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
	<div class="form-group">
		<label for="nombre">Nombre</label>
		<input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." 
		[formControl]="fg.controls['nombre']" autocomplete="off">
		<ul>
			<li *ngFor="let r of searchResults;" (click)="fg.controls['nombre'].setValue(r)" style="cursor: pointer; "><u>{{r}}</u></li>
		</ul>
		<div id='nombre-error' class="form-alert alert alert-danger" *ngIf="!fg.controls['nombre'].valid">
			<p *ngIf="fg.controls['nombre'].hasError('required')" >&#8226; Requerido</p>
			<p *ngIf="fg.controls['nombre'].hasError('invalidName')" >&#8226; No debe contener números</p>
			<p *ngIf="fg.controls['nombre'].hasError('minLongName')" >&#8226; Debe tener al menos {{this.minLong}} de largo!</p>
		</div>
	</div>
	<div class="form-group">
		<label for="Imagen Url">Imagen Url</label>
		<input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..."
		[formControl]="fg.controls['url']">
		<div id='url-error' class="form-alert alert alert-danger" *ngIf="!fg.controls['url'].valid">
			<span *ngIf="fg.controls['url'].hasError('required')" >Requerido</span>
		</div>
	</div>
	<button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>
</form>