
<div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
	<div class="card-img">
		<img src="https://placeimg.com/380/230/nature" alt="">
		<span style="right: 12%; left: auto; top: 18%; cursor: pointer;" (click)="eliminar()">
			<span >Eliminar</span>
		</span>
		<span *ngIf="destino.isSelected()" style="">&#9733;</span>
		<span *ngIf="!destino.isSelected()" style="">
			<a class="" (click)="ir()" style="cursor: pointer;top: 18%">Favorito</a>
		</span>
	</div>
	<div class="card-desc">
		<h3>{{destino.nombre}}</h3>
		<p>Servicios</p>
		<ul>
			<li *ngFor="let s of destino.servicios">
				<span [ngSwitch]="s">
					<i *ngSwitchCase="'desayuno'" style='color: red'>{{s}}</i>
					<i *ngSwitchDefault>{{s}}</i>
				</span>
			</li>
		</ul>
		<div style="padding: 10px">
			<a href="#" (click)="voteUp()" appTrackearClick data-trackear-tag="destino_vote_up lista_destinos_item"><span class="material-icons md-18"> thumb_up </span></a>
			<a href="#" (click)="voteDown()" appTrackearClick data-trackear-tag="destino_vote_down lista_destinos_item"><span class="material-icons md-18">thumb_down</span></a>
			<span class="votes">{{destino.votes}}</span>
		</div>
		<a class="btn-card" [routerLink]="['/destino', destino.nombre]" appTrackearClick data-trackear-tag="destino_ver detalle lista_destinos_item">Ver detalle</a>
	</div>
</div>
