<div class="content">

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <span class="navbar-brand" >Viajes</span>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item" routerLinkActive="active">
	        <a class="nav-link" [routerLink]="['/home']" >HOME</a>
	      </li>
	      <li class="nav-item" routerLinkActive="active">
					<a class="nav-link" [routerLink]="['/login']" >LOG IN</a>
	      </li>
	      <li class="nav-item" routerLinkActive="active">
					<a class="nav-link" [routerLink]="['/protected']" >PROTEGIDO</a>
	      </li>
	      <li class="nav-item" routerLinkActive="active">
					<a class="nav-link" [routerLink]="['/vuelos']" >VUELOS</a>
	      </li>
	      <li class="nav-item" routerLinkActive="active">
					<a class="nav-link" [routerLink]="['/reservas']" >RESERVAS</a>
	      </li>
	    </ul>
	  </div>
	</nav>

	<div class="page-header">
		<div style="float: right">
			<select (change)="translate.use($event.target.value)">
				<option value="es">Español</option>
				<option value="fr">Frances</option>
				<option value="en">Inglés</option>
			</select>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="jumbotron">
				<h1>{{title}}</h1>
				<b [innerHTML]="'hola' | translate "></b> <br>

			</div>
		</div>
		
	  <router-outlet></router-outlet>	
	</div>
</div>

<hr class="mb-5">

Fecha: {{time| async}}