<div class="content">
	<div class="row">
		<div class="col-lg-3 whishlist"><span class="anchor" id="formLogin"></span>
			<!--form card login with validation feedback -->
			<div class="card card-outline-secondary">
				<div class="card-header">
					<h3 class="mb-0">Whishlist</h3>
				</div>
				<div class="card-body">
					<app-form-destino-viaje (onItemAdded)="agregado($event, destinos.length )"></app-form-destino-viaje>
				</div>
			</div>
			<div class="">
				<div>
					<h5>Actividad</h5>
				</div>
				<div>
					Contador de Clicks: {{clicks}}
				</div>
				<ul>
					<li *ngFor="let u of updates">
						{{u}}
					</li>
				</ul>
			</div>
		</div>

		<div class="listado col-lg-9">
			<div style="padding: 10px 0">
				<button class="btn btn-primary" (click)="resetVotes()">Reset Votes</button>
			</div>
			<div class="row">
				<app-destino-viaje 
					*ngFor="let x of destinos;let i = index" 
					[destino]="x" 
					[idx]="i"
					(clicked)="elegido(x, i)"
					(deleted)="borrado(x,i)"
					appEspiame
					></app-destino-viaje>
			</div>
		</div>
	</div>
</div>
