<div style="height: 50vh; width: 100%">
	<mgl-map 	[style]="'mapbox://styles/mapbox/streets-v11'" 
						[zoom]="[2]" >
		<mgl-marker [lngLat]="[-75.551012, 10.421185]">
			<div onclick="alert('hola')" class="marker">Hola mundo!</div>
		</mgl-marker>
	</mgl-map>
</div>